.cv /* general rules */

*{ 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a{
    text-decoration: none;
    color: white;    
}

button{
    padding: 15px;
    border-radius: 30px;
    border: none;
    margin: 20px 0;    
}

.header-container,.hero-container,.footer-container,.footer-signup{
    width: 70%;
    margin: 0 auto;    
}

/* header rules */

header{
    background-color: #255EE9;
    min-height: 20px;   
}

.header-container{    
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

nav{
    display: flex; 
    gap: 50px;   
   
}

h1{
    font-size: 50px;
}

h2{
    font-size: 50px;
}

p{
    font-size: 20px;
}

/* hero rules */

.hero{    
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;    
    padding: 100px 0;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding: 40px;
    color: white;
}

button.font-size{
    font-size: 20px;
}

button.grey-button{
    background-color: #23272A;
    color: white;    
}

/* main rules */

.wallpaper-color{
    background-color: #F6F6F6;
    width: 100%;

}

section{
    min-height: 450px;
    margin: 80px 0;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;    
}

.column-section{
    text-align: center;
    padding:50px 100px;
}

.call-to-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star-background{    
    font-weight: bold;
    font-size: 30px;
    background-image:url(../img/stars.svg) ;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 40px;
}

/* footer rules */

footer{
    background-color: #23272A;
    min-height: 350px;  
}

.footer-container{
    display: flex;
    justify-content: space-between;    
    border-bottom: 1px solid white;
    color: white;
    padding: 50px 0;     
}

footer li{
    list-style: none;
}

.footer-signup{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button.blue-button{
    background-color:#7289DA ;
    color: white;    
}


.footer-title{
    color: #255EE9;
    font-size: 20px;
}

/* debug rules */

/* img{
    background-color: rosybrown;       
}

nav{
    background-color: darkgreen;    
}

h2{
    background-color: orange;
    font-size: 50px;
}

p{
    background-color: green;
    font-size: 20px;    
} */

/* section{
    background-color: grey;
    border: darkred solid 2px;
    height: 400px;
} */

/* .call-to-action{
    background-color: grey;
    border: darkred solid 2px;
    height: 200px;
} */

